<!DOCTYPE html>
<html>
  <head>
    <title>Wardrobed | Featured Styles</title>
    <link rel = "stylesheet" href = "css/features.css">
    <script src="https://use.fontawesome.com/4d0a503a2b.js"></script>
    <link rel="icon" href="images/screen_shot_2017-07-28_at_2.38.07_pm_360.png">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Cabin+Sketch|Catamaran" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Cabin:600i|Catamaran" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://www.gstatic.com/firebasejs/4.1.5/firebase.js"></script>
    <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyBwcyzV5EeocT66saEJg3wlMF4_FE-rnH0",
            authDomain: "wardrobed-3c159.firebaseapp.com",
            databaseURL: "https://wardrobed-3c159.firebaseio.com",
            projectId: "wardrobed-3c159",
            storageBucket: "wardrobed-3c159.appspot.com",
            messagingSenderId: "645783029482"
          };
          firebase.initializeApp(config);
          
    </script> 
  </head>
  <body>
    <header>
            <nav class="navbar navbar-toggleable-md navbar navbar-inverse" style="background-color: #460432;">
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
               
              &nbsp 
              &nbsp
              &nbsp
              &nbsp
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  
                        
        
                  <li class="nav-item active">
                    <a class="nav-link" href="/features"><font size = "6">Featured</font><span class="sr-only">(current)</span></a>
                    
                  </li>
                    &nbsp
              &nbsp
                  <li class="nav-item">
                    <a class="nav-link" href="/wardrobe"><font size = "6">Wardrobe </font></a>
                    
                  </li>
                    &nbsp
              &nbsp
                  <li class="nav-item">
                    <a class="nav-link" href="/calendar"><font size = "6">Calendar</font></a>
                  </li>
                </ul>

                <!--<center><img src = "images/ca8d548b2c2d4067b8e634032b547793_360.png" height = "60px"></center>-->
                      &nbsp 
              &nbsp
              &nbsp
              &nbsp
                              &nbsp 
              &nbsp
              &nbsp
              &nbsp
                              &nbsp 
              &nbsp
              &nbsp
              &nbsp
                              &nbsp 
              &nbsp
              &nbsp
              &nbsp
                              &nbsp 
              &nbsp
              &nbsp
              &nbsp
                              &nbsp 
              &nbsp
              &nbsp
              &nbsp
                              &nbsp 
              &nbsp
              &nbsp
              &nbsp
                              &nbsp 
              &nbsp
              &nbsp
              &nbsp                &nbsp 
              &nbsp
              &nbsp
              &nbsp                &nbsp 
              &nbsp
              &nbsp
              &nbsp
                              &nbsp 
              &nbsp
              &nbsp
              &nbsp
                              &nbsp 
              &nbsp
              &nbsp
              &nbsp
                              &nbsp 
              &nbsp
              &nbsp
              &nbsp
              <!--<div class="container">-->
                <form novalidate class="form-inline searchbox" >
                    <input type="search" placeholder="Search..." name="search" class="searchbox-input" onkeyup="buttonUp();" required>
                    <input type="button" class="searchbox-submit" value="GO" >
                    <span class="searchbox-icon" >GO</span>
                </form>
            <!--</div>-->
            
            
                <!--<form class="form-inline my-2 my-lg-0">-->
                <!--  <input class="form-control mr-sm-2 search" type="text" placeholder="Search">-->
                <!--  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                <!--</form>-->
              </div>
            </nav>
    </header>
    <main>
      <h1 style = "color: black; font-family: 'Cabin', sans-serif;">Searching for...</h1>
    </main>
    
    <script src = "javascripts/features.js"></script>
    <!---<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>--->
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>