<!DOCTYPE html>
<html>
    <head>
        <title>Wardrobed - Send a Message</title>
        <link href="https://fonts.googleapis.com/css?family=Cabin|Cabin+Sketch|Catamaran" rel="stylesheet">
        <link rel="icon" href="images/screen_shot_2017-07-28_at_2.38.07_pm_360.png">
        <style>
            h1{font-family: 'Cabin', sans-serif; color: #460432;}
            h2, h3 {font-family: 'Catamaran', sans-serif; color: black;}
        </style>
    </head>
    <body>
        <h1> Your message was submitted successfully! </h1>
        <h2>Head back to our website:<br/></h2>
        <a href = "/get-started" style = "text-decoration: none"><h3>https://wardrobed-debjanidas.c9users.io/get-started</h3></a>
    </body>
</html>