<!DOCTYPE html>
<html>
    <head>
       <link rel = "stylesheet" href = "css/test.css"/> 
     
       <script src="https://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
    </head>
    <body>
        <!-- Inspired by https://codepen.io/transportedman/pen/NPWRGq -->

        <div class="carousel slide carousel-fade" data-ride="carousel">
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
            </div>
        </div>
        
        <!-- Remeber to put all the content you want on top of the slider below the slider code -->
        
        <div class="title">
          <h1>This is Awesome</h1>
        </div>
        <script src = "javascripts/test.js"></script>
    </body>
</html>